

body::-webkit-scrollbar
{
margin:0;
padding:0;
box-sizing:border-box;
font-family:bebas neue;
display:none;
}

.item
{
color:white;
height:60px;
background-color:gray;
display:flex;
justify-content:space-around;
align-items:center;
}

.child1  img
{
height:25px;
}

.item1
{
height:50px;
background-color: rgba(255, 255, 255, 0.466);
background-color:transparent;
backdrop-filter: blur(10px);
display:flex;
justify-content:center;
align-items:center;
position: sticky;
    top: 0;
    z-index: 1000;
    font-family: roboto;
}

.nav-item a
{
text-transform:capitalize;
color:black;
font-weight:bold;
overflow:hidden;
transition:2s;
border:none;
transform:border 2s;
}

.nav-item a:hover
{

transform:scale(0.95);
text-decoration:underline;
}


.container1 img
{
height:560px;
width:100%;
}

.container img
{
height:200px;
}

.content
{
position:absolute;
margin-top:100px;
margin-left:170px;
z-index:1;
color:black;
text-transform:capitalize;
}

.content p
{
color:gray;
}

h3
{
text-transform:capitalize;
font-weight:bold;
}

.h1
{

display:flex;
align-items:center;
justify-content:center;
}


h1 span
{
position:relative;
text-transform:capitalize;
font-weight:bold;
display:inline-block;
height:1.25em;
text-align:center;
overflow:hidden;
}

h1
{
font-size:2em;
}


h1 span span
{
font-weight:bold;
display:block;
animation:anim 5s infinite ease;
}

@keyframes anim
{
0%{transform:translateY(0%);}
25%{transform:translateY(-100%);}
50%{transform:translateY(-200%);}
75%{transform:translateY(-300%);}
100%{transform:translateY(-400%);}
}


.hover
{
overflow:hidden;
position:relative;
filter:drop-shadow(15px 5px 10px black);
}

.hover img
{
object-fit:cover;
transition:.5s ease all;
}

.hover img:hover
{
transform:scale(1.1);
transition:.5s ease all;
}

.hover::before
{
content:'Best Sofa';
position:absolute;
top:10;
left:40%;
z-index:1;
color:black;
font-size:20px;
font-weight:bold;
text-align:center;
transition:.5s ease all;
transform:translateY(-150%);
}

.hover:hover::before
{
transform:translateY(10%);
}

.hover::after
{
content:'confortable atmosphare that everyone can enjoy without feeling pressurewe strive';
position:absolute;
bottom:40;
left:0;
transform:translateY(200%);
z-index:1;
font-weight:bold;
font-size:18px;
transition:.5s ease all;
text-align:center;
background-color:rgba(255,255,255,0.5);
padding:25 25;
overflow:hidden;
height:100px;
margin-bottom:-60;
}

.hover:hover::after
{
transform:translateY(-5px);

}

.text
{
font-weight:bold;
padding-bottom:10;
}
